@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@theme{
    --font-robotomono:"Roboto Mono",sans-serif;
}
html,body{
    @apply bg-teal-500;
}